<%
  # BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
  # Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
  # This program is free software; you can redistribute it and/or modify it under the
  # terms of the GNU Lesser General Public License as published by the Free Software
  # Foundation; either version 3.0 of the License, or (at your option) any later
  # version.
  #
  # BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
  # WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
  # PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
  # You should have received a copy of the GNU Lesser General Public License along
  # with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<!DOCTYPE html>
<html>
<head>
  <% if Rails.configuration.google_analytics %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="<%= google_analytics_url %>"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', "<%= ENV["GOOGLE_ANALYTICS_TRACKING_ID"] %>");
    </script>
  <% end %>

  <title><%= t("bigbluebutton_title") %></title>
  <meta property="og:title" content="<%= t("bigbluebutton", locale: :en) %>"/>
  <meta property="og:type" content="website"/>
  <meta property="og:description" content="<%= t("landing.about", href: "Greenlight", locale: :en) %>"/>
  <meta property="og:url" content="<%= request.base_url %>"/>
  <meta property="og:image" content="<%= logo_image %>"/>

  <meta name="viewport" content="width=device-width, user-scalable=no">
  <%= csrf_meta_tags %>

  <!-- Global javascript variables and helpers. -->
  <script type="text/javascript">
      window.GreenLight = {};
      window.GreenLight.WEBSOCKET_HOST = "<%= ENV['WEBSOCKET_HOST'] %>"
      window.GreenLight.RELATIVE_ROOT = "<%= relative_root %>"
  </script>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Primary color styling -->
  <%= stylesheet_link_tag themes_primary_path %>

  <script type="text/javascript">
      // Include the correct translated strings for Javascript
      window.I18n = <%= current_translations.to_json.html_safe %>
          window.I18nFallback =
      <%= fallback_translations.to_json.html_safe %>
  </script>
</head>

<body class="app-background rtl" dir="rtl" data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>" data-relative-root="<%= Rails.configuration.relative_url_root || "/" %>">
<%= render "shared/header" %>

<div class="wrapper">
  <% if bigbluebutton_endpoint_default? %>
    <div class="alert alert-icon alert-danger text-center mb-0">
      <div class="flash alert d-inline">
        <i class="fas fa-exclamation-triangle"></i>
        <p class="d-inline"><%= t("test_install",
                                  href: link_to(t("docs").downcase, "http://docs.bigbluebutton.org/install/greenlight-v2.html#2-install-greenlight", target: "_blank", rel: "noopener")
                                ).html_safe %>
      </div>
    </div>
  <% end %>

  <% unless Rails.configuration.banner_message.blank? %>
    <div class="alert alert-icon alert-danger text-center mb-0">
      <div class="flash alert d-inline">
        <p class="d-inline"><%= Rails.configuration.banner_message %></p>
      </div>
    </div>
  <% end %>

  <%= render 'shared/flash_messages' unless flash.empty? %>

  <%= yield %>
</div>

<%= render "shared/footer" %>

<script>
  let conf ={
      "particles": {
          "number": {
              "value": 250,
              "density": {
                  "enable": true,
                  "value_area": 2000
              }
          },
          "color": {
              "value": "#ffffff"
          },
          "shape": {
              "type": "circle",
              "stroke": {
                  "width": 0,
                  "color": "#000000"
              },
              "polygon": {
                  "nb_sides": 4
              },
              "image": {
                  "src": "img/github.svg",
                  "width": 100,
                  "height": 100
              }
          },
          "opacity": {
              "value": 0.5,
              "random": false,
              "anim": {
                  "enable": false,
                  "speed": 1,
                  "opacity_min": 0.1,
                  "sync": false
              }
          },
          "size": {
              "value": 3,
              "random": true,
              "anim": {
                  "enable": false,
                  "speed": 40,
                  "size_min": 0.1,
                  "sync": false
              }
          },
          "line_linked": {
              "enable": true,
              "distance": 160,
              "color": "#ffffff",
              "opacity": 0.4,
              "width": 1
          },
          "move": {
              "enable": true,
              "speed": 2,
              "direction": "none",
              "random": true,
              "straight": false,
              "out_mode": "out",
              "bounce": false,
              "attract": {
                  "enable": false,
                  "rotateX": 600,
                  "rotateY": 1200
              }
          }
      },
      "interactivity": {
          "detect_on": "canvas",
          "events": {
              "onhover": {
                  "enable": true,
                  "mode": "grab"
              },
              "onclick": {
                  "enable": true,
                  "mode": "push"
              },
              "resize": true
          },
          "modes": {
              "grab": {
                  "distance": 100,
                  "line_linked": {
                      "opacity": 1
                  }
              },
              "bubble": {
                  "distance": 400,
                  "size": 40,
                  "duration": 2,
                  "opacity": 8,
                  "speed": 3
              },
              "repulse": {
                  "distance": 40.603860615067255,
                  "duration": 0.4
              },
              "push": {
                  "particles_nb": 4
              },
              "remove": {
                  "particles_nb": 2
              }
          }
      },
      "retina_detect": true
  };
    particlesJS.load('particles-js', conf, function() {
        console.log('callback - particles.js config loaded');
    });
</script>
</body>
</html>
